@charset "UTF-8";

body {
	background-color: #BBB9AE;
}

.mail:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
}
.mail:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
}
.mail:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
}
.mail:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #888;
	text-decoration: underline;
}
.impressum:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #f1ebda;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 10px;
}
.impressum:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #f1ebda;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 10px;
}
.impressum:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFCC33;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 10px;
}
.impressum:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #f1ebda;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 10px;
}
.impressum_fisso {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	color: #FFCC33;
	padding-left: 10px;
}
.body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #EEE;
	text-decoration: none;
}
.titolo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 23px;
	padding-left: 15px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.sfondo_01 {
	background-image: url(../IMG/INSAM-1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_Boutiques {
	background-color: #EBE6E0;
}
.menu:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 16px;
}
.menu:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 10px;
	line-height: 16px;
}
.menu:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 16px;
}
.menu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #929395;
	text-decoration: none;
	line-height: 16px;
}
.menu_fisso {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #929395;
	text-decoration: none;
	line-height: 16px;
}
.menu_fisso_pink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #c20069;
	text-decoration: none;
	line-height: 16px;
}
.sotto_menu:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: none;
	padding-left: 20px;
	font-style: italic;
}
.sotto_menu:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: none;
	padding-left: 20px;
	font-style: italic;
}
.sotto_menu:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: none;
	padding-left: 20px;
	font-style: italic;
}
.sotto_menu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #FFCC33;
	text-decoration: none;
	text-transform: none;
	padding-left: 20px;
	font-style: italic;
}
.sotto_menu_fisso {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #FFCC33;
	padding-left: 20px;
	font-weight: normal;
	text-transform: none;
	font-style: italic;
	text-decoration: none;
}
.impressum_titolo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333;
	text-decoration: none;
}
.sfondo_top {
	background-image: url(../beta/images/Top_center.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.sfondo_Immagine {
	background-color: #EBE6E0;
}
.titolino {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 10px;
	font-style: normal;
	font-weight: bold;
	padding-top: 20px;
}
.sfondoSX {
	background-image: url(../beta/images/Top_center_sinistra.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.sfondoDX {
	background-image: url(../beta/images/Top_center_destra.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.sfondoSX_2 {
	background-image: url(../beta/images/Dark_sinistra.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.sfondo_top2 {
	background-image: url(../beta/images/Dark_Menu.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondoDX_2 {
	background-image: url(../beta/images/Dark_destra.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondoSX_3 {
	background-image: url(../beta/images/Bright_sinistra.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.sfondoDX_3 {
	background-image: url(../beta/images/Bright_destra.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondoBOTTOM {
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #F7F5EA;
}
.sfondoWHITE {
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #FFF;
}
.menu_fissoDark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCC;
	text-decoration: none;
	line-height: normal;
}
.menu1:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #929395;
	text-decoration: none;
	line-height: 16px;
}
.menu1:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #929395;
	text-decoration: none;
	font-size: 10px;
	line-height: 16px;
}
.menu1:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #929395;
	text-decoration: none;
	line-height: 16px;
}
.menu1:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #EEE;
	text-decoration: none;
	line-height: 16px;
}
.menu1_fisso {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #EEE;
	text-decoration: none;
	line-height: 16px;
	padding-bottom: 4px;
	background-color: #FFF;
}
.sfondo_fashion {
	background-image: url(../beta/images/Dark_Menu3.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.bodyDark {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	line-height: 34px;
	color: #000;
}
.menu2:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000;
	text-decoration: none;
	line-height: normal;
}
.menu2:active {
	font-family: "Times New Roman", Times, serif;
	color: #000;
	text-decoration: none;
	font-size: 18px;
}
.menu2:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #000;
	text-decoration: none;
}
.menu2:hover {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #333;
	text-decoration: none;
}
.titolone:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	color: #CCC;
	text-decoration: none;
	line-height: 74px;
}
.titolone:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	color: #CCC;
	line-height: 74px;
	text-decoration: none;
}
.titolone:active {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	color: #CCC;
	line-height: 74px;
	text-decoration: none;
}
.titolone:hover {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	color: #FFF;
	line-height: 74px;
	text-decoration: none;
}
.titolone_fisso {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	color: #FFF;
	text-decoration: none;
	line-height: 74px;
}
.titolone_fissoDark {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	color: #ccc;
	text-decoration: none;
	line-height: 74px;
}
.impressum_body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 11px;
	color: #EEE;
	text-decoration: none;
}
.impressum_bodyDark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	color: #999;
	text-decoration: none;
}
.impressum_bodyDark_titoli {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}
.sfondo_impressum {
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #555;
}
.bodyCity {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #6F6F6E;
}
.bodyCity_Dark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	color: #333;
	font-weight: bold;
}
.menuG:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	text-decoration: underline;
	line-height: normal;
}
.menuG:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	text-decoration: underline;
	font-size: 12px;
	line-height: normal;
}
.menuG:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	text-decoration: underline;
	line-height: normal;
}
.menuG:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	text-decoration: underline;
	line-height: normal;
}
.linkRed:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #C00;
	text-transform: none;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
.linkRed:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #C00;
	text-transform: none;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.linkRed:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #C00;
	text-transform: none;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.linkRed:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #C00;
	text-transform: none;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}
.sfondoBX1 {
	background-image: url(../beta/images/ground_1BX.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.sfondoBX2 {
	background-image: url(../beta/images/ground_2BX.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.sfondo_02 {
	background-image: url(../IMG/INSAM-2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_03 {
	background-image: url(../IMG/INSAM-3.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_04 {
	background-image: url(../IMG/INSAM-4.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_05 {
	background-image: url(../IMG/INSAM-5.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_06 {
	background-image: url(../IMG/INSAM-6.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_07 {
	background-image: url(../IMG/INSAM-7.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_08 {
	background-image: url(../IMG/INSAM-8.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_09 {
	background-image: url(../IMG/INSAM-NEUTRO.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_10 {
	background-image: url(../IMG/INSAM-10.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_11 {
	background-image: url(../IMG/INSAM-11.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.sfondo_12 {
	background-image: url(../IMG/INSAM-12.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

